html
	include ../../_/head
	body
		include ../../_/header
		p Вы авторизовались с помощью #{data.service.app.title}
		each access in data.accesses
			div
				form(class='azbn7__auth__form_auto' target='_blank' method='POST' action=access.target_url)
					each field in access.fields
						input(type='hidden' name=field.name value=field.value)
					input(type='submit' value=access.title)
		include ../../_/footer